In [1]:
import os
import glob
import pandas as pd

In [2]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [3]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_reviews.csv", index=False, encoding='utf-8-sig')

In [4]:
len(combined_csv)

10937

In [16]:
dataHS = pd.read_csv('hungerstation.csv')
dataFrameHS = pd.DataFrame(dataHS, columns=['app_name','app_id', 'date', 'title', 'review', 'rating'])

dataJahez = pd.read_csv('jahez.csv')
dataFrameJahez = pd.DataFrame(dataJahez, columns=['app_name','app_id', 'date', 'title', 'review', 'rating'])

dataToYou = pd.read_csv('toyou.csv')
dataFrameToYou = pd.DataFrame(dataToYou, columns=['app_name','app_id', 'date', 'title', 'review', 'rating'])

dataShgardi = pd.read_csv('shgardi.csv')
dataFrameShgardi = pd.DataFrame(dataShgardi, columns=['app_name','app_id', 'date', 'title', 'review', 'rating'])

dataTheChefz = pd.read_csv('theChefz.csv')
dataFrameTheChefz = pd.DataFrame(dataTheChefz, columns=['app_name','app_id', 'date', 'title', 'review', 'rating'])

#Replace nan "missing values" with empty string
# dataFrame["affiliation"].fillna('', inplace = True)

# affiliations = dataFrame["affiliation"].str.lower()

# affiliations_list = affiliations.tolist()

In [10]:
dataFrameHS.head()

,app_name,app_id,date,title,review,rating
0,hungerstation,596011949,4/24/2020 17:03,Good app,A very decent app. Does the job pretty well. H...,4
1,hungerstation,596011949,9/16/2021 15:29,Scam!,"I ordered my grocery at 2:15, and the driver w...",1
2,hungerstation,596011949,7/6/2020 18:47,Liars and worst customer service,I ordered from wakami on March 8 “woman’s day ...,1
3,hungerstation,596011949,4/12/2020 16:20,I do not recommend,"This app has many issues, technical and person...",1
4,hungerstation,596011949,7/6/2021 12:54,I WANT MY MONY BACK!!,I ordered on the 16th of June and the payment ...,1

In [12]:
dataFrameJahez.head()

,app_name,app_id,date,title,review,rating
0,jahez,1137352156,6/15/2020 17:41,My feedback,First time using this app and honestly it was ...,5
1,jahez,1137352156,2/19/2021 5:39,No response for customers no cancellations لا ...,They don’t respond to help the customer either...,2
2,jahez,1137352156,7/23/2020 12:22,Good fast delivery but lack of support,Jahez offers fast delivery but this company se...,4
3,jahez,1137352156,9/29/2021 18:29,Not Great,"Once I ordered and paid for the meal, it then ...",1
4,jahez,1137352156,12/8/2020 4:08,I love the feeling of not being disappointed,Definitely the best compared to the many other...,5

In [24]:
dataFrameTheChefz.head()

,app_name,app_id,date,title,review,rating
0,theChefz,1139450244,2020-08-01 23:00:59,‌late night cravings for food ​ ​,‍ ‌What makes the Chefz app different from ot...,5
1,theChefz,1139450244,2020-07-31 02:32:37,Tracking live Orders ​,‍What makes the Chefz app different from oth...,5
2,theChefz,1139450244,2020-08-01 02:51:48,Online order tracking ‍,‌ It is quite easy to connect with the deliv...,5
3,theChefz,1139450244,2020-07-30 02:21:40,pay instantly on delivery or later‍ ‍,‍If you are a food lover and love to browse d...,5
4,theChefz,1139450244,2020-08-03 02:41:02,food from restaurants you desire ‌,‍ ‌It is quite easy to connect with the deliv...,5

In [25]:
combined_reviews = pd.concat([dataFrameHS, dataFrameJahez, dataFrameToYou, dataFrameShgardi, dataFrameTheChefz], axis=0)

In [26]:
combined_reviews.head()

,app_name,app_id,date,title,review,rating
0,hungerstation,596011949,4/24/2020 17:03,Good app,A very decent app. Does the job pretty well. H...,4
1,hungerstation,596011949,9/16/2021 15:29,Scam!,"I ordered my grocery at 2:15, and the driver w...",1
2,hungerstation,596011949,7/6/2020 18:47,Liars and worst customer service,I ordered from wakami on March 8 “woman’s day ...,1
3,hungerstation,596011949,4/12/2020 16:20,I do not recommend,"This app has many issues, technical and person...",1
4,hungerstation,596011949,7/6/2021 12:54,I WANT MY MONY BACK!!,I ordered on the 16th of June and the payment ...,1

In [27]:
len(combined_reviews)

10832

In [33]:
from pandas import DataFrame

combined_df = DataFrame(combined_reviews, columns=['app_name','app_id', 'date', 'title', 'review', 'rating'])
combined_df["review"].fillna('', inplace = True) 
combined_df["title"].fillna('', inplace = True) 

# print(combined_df)

In [36]:
table = {"app_name": [], "app_id": [], "date": [], "title": [], "review": [], "rating": []}

for x in range(len(combined_df)):
    table["app_name"].append(combined_df['app_name'].iloc[x])
    table["app_id"].append(combined_df['app_id'].iloc[x])
    table["date"].append(combined_df['date'].iloc[x])
    table["title"].append(combined_df['title'].iloc[x])
    table["review"].append(combined_df['review'].iloc[x])
    table["rating"].append(combined_df['rating'].iloc[x])

In [35]:
len(combined_df)

10832

In [37]:
df=pd.DataFrame.from_dict(table,orient='index').transpose()
df.to_csv('combined_reviews.csv', index = False)